body {
  margin: 0;
  background:url("https://wallpaperaccess.com/full/16692.jpg");
  background-position:center;
}
::-webkit-calendar-picker-indicator {
  background-color: #218e26;
  padding: 5px;
}